body
{
background : url('pic.jpg');

}
h2
{font-family:comic sans ms text ;
color : white;
}
table
{background:white
}
.td {
font-weight:bold;
}
.dashed
{
border-style:dashed;
border-color:pink;
}
